.header {
    display: flex;
    justify-content: space-between;
    padding: 1.65rem;
    margin: 0 auto;
    position: absolute;
    top:0;
    left:0;
    z-index: 20;
    width: 100%;
}

.header__menu {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.header__links {
    display: flex;
    align-items: center;
}