.hero {
    height:100vh;
    min-height: 650px;    
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    font-weight: 800;
    font-size: 36px;
}

.hero__content {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__bottom-buttons {
    display: flex;
    justify-content: center;
    @include tablets() {
        display: none;
    }
}