.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 60px;
    &:last-child {
        margin-right: 0;
    }

}

.nav__link {
    &:hover {
        color:grey;
        transition: color 0.3s;
    }
    &:active {
        color:grey;
    } 
    &:focus {
        color:grey;
    }  

}