.scroll-down {
    display: flex;
    align-items: center;
}

.scroll-down-text {
    font-size: 18px;
    font-weight: 600;
    padding-right: 1rem;
}
.scroll-down-btn {
    width: 25px;
    height: 35px;
    display: block;
    text-align: center;
    // justify-content: center;
    // padding-left: 1rem;
}