.skills-row__title {
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-weight: bold;
    padding-left: 1.5rem;
    @include tablets() {
        padding-left: 0;
        text-align: center;
    }
}
.skills-row__list {
    display: flex;
    @include desktopMini() {
        flex-wrap: wrap;
    }

}

.skills-row__item {
    margin-right: 0px;
    // margin-bottom: 50px;
 
}

