.triangles {
    position: relative;
    height: 80px;
    margin-top: -80px;
    &--bottom {
        margin-top: 0;
    }
}
.triangles__item {
    display: block;
    height: 100%;
    width: 50%;
    position: absolute;
    fill:white;
    &--left {
        left:0;
    }
    &--right {
        right: 0;
    }
}