.triangles {
    position: relative;
    height: 6rem;
    margin-top: -6rem;
    @include desktop() {
        height: 5rem;
    margin-top: -5rem;
    }

    &--bottom {
        margin-top: 0;
    }
}
.triangles__item {
    display: block;
    height: 100%;
    width: 50%;
    position: absolute;
    fill:white;
    &--left {
        left:0;
    }
    &--right {
        right: 0;
    }
}