.user-info {
    display: flex;
    align-items: center;
}
.user-info__desc {
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    color: #939ca5;
    padding-right: 2rem;

}
.user-info__name {
    font-weight: 800;
    font-size: 72px;
    padding-left: 2rem;
}