.user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    @include desktop() {
    flex-direction: row;
    text-align-last: left;
    }
}
.user-info__desc {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #939ca5;
    @include desktop() {
    text-align: right;
    padding-right: 2rem; 
    }
    

}
.user-info__name {
    font-weight: 800;
    font-size: 72px;
    padding-left: 2rem;
}