.works__link {
    color: $links-color;
    font-size: 18px;
    font-weight: 800;
    padding-left: 10%;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top:0;
        left:0;
        // display: block;
        width: 20px;
        height: 20px;
        background: svg-load('link.svg', fill=$links-color, width=100%, height=100%) center center no-repeat;
    }
}