.edit-block {
    width: 100%;
    box-shadow: 4.1px 2.9px 20px 0 rgba(grey,0.1);
    background-color: #f8fafe;
    margin-bottom: 30px;
    padding: 30px;

  @include phones {
    padding: 5%;
  }
}