.login__form-title {
    font-size: 36px;
}

.title {
    font-size: 21px;
    font-weight: bold;
    color:$text-color;
    &--about {
        margin-right: 60px;
        @include phones() {
            padding-bottom: 25px;
        }
    }
}

.edit-block__title {
    font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid rgba(#1f232d, 0.2);
  padding-bottom: 20px;
  padding-left: 5px;
  

  @include tablets {
    margin-bottom: 4%;
  }
}