.works-blocks__list {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    @include phones() {
        flex-direction: column;
    }
}

.works-blocks__item {
    box-shadow: 4px 3px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: white;
    width:30%;
    margin-right: 1.875rem;
    margin-bottom: 1.875rem;
    @include tablets() {
        width: 46%;

    }
    @include phablets() {
        width: 100%;
        margin-bottom: 1rem;
    }

  }